@model IEnumerable<Warehouse.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Partial("_ProductTable")

@if (!Model.Any()) {
    <p> Sorry, no hits. </p>
}